<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <property name="hbm2ddl.auto">update</property> -->
		<property name="show_sql">true</property>
		<mapping class="com.jhome.dao.entity.Users" />
		<mapping class="com.jhome.dao.entity.Address" />
		<mapping class="com.jhome.dao.entity.Role" />
		<mapping class="com.jhome.dao.entity.Stock" />
		<mapping class="com.jhome.dao.entity.StockRecords" />
		<mapping class="com.jhome.dao.entity.Product" />
		<mapping class="com.jhome.dao.entity.ProductRecord" />


	</session-factory>
</hibernate-configuration>
